#!/usr/bin/make -f
export DH_VERBOSE=1
export PYTHON=python3
export PYBUILD_NAME=pywatchman
export PYBUILD_SYSTEM=distutils
export PYBUILD_VERSIONS=3
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --with autoreconf,python3

override_dh_autoreconf:
	dh_autoreconf -- ./autogen.sh

override_dh_auto_configure:
	dh_auto_configure -- --enable-statedir=/tmp --enable-lenient --with-pcre=/usr/bin/pcre-config

override_dh_auto_build:
	dh_auto_build
	set -ex; for python in $(shell py3versions -r); do \
		cd python && $$python setup.py build; \
	done;

override_dh_auto_install:
	dh_auto_install
	set -ex; for python in $(shell py3versions -r); do \
		cd python && $$python setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb; \
	done;

override_dh_auto_clean:
	dh_auto_clean
	rm -rf python/pywatchman.egg-info/
